@charset "UTF-8";

/* 回答はここに書いてね */

.all{
  padding: 20px;
  box-sizing: border-box;
}
.table{
  display: table;
  width: 100%;
  margin-top: 20px; 
}
.cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.pink{
  background-color: #fdc8b8;
  width: 100px;
}
.purple{
  background-color: #e0abd9;
}
.blue{
  background-color: #b6d8ed;
  width:100px;
}
.yellow{
  background-color: #e5d32e;
}
.red{
  background-color: #ec8f9a;
}
.green{
  background-color: #8fdcad;
  width: 500px;
}
.table:first-child{
  margin-top: 0px;
}
/* 回答はここに書いてね */
